node_modules

dist
build
.tmp
coverage

.angular
.vscode
.idea
.eslintcache

*.log
*.tsbuildinfo

.DS_Store
Thumbs.db

.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

deploy
