.permission-matrix {
  .btn-group .btn {
    min-width: 110px;
  }

  .btn-group .btn.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .form-check-input {
    width: 2.5rem;
    height: 1.4rem;
  }
}
